
<p><%= @listing.user.first_name %> <%= @listing.user.last_name %></p>
<p><%= @listing.address %></p>
<p><%= @listing.bedrooms %></p>
<p><%= @listing.bathrooms %></p>
<p><%= @listing.price %></p>
<p><%= @listing.square_feet %></p>
<p><%= @listing.city %></p>
<p><%= @listing.postal_code %></p>
<p><%= @listing.description %></p>

